@import 'reset.css';
:root{
--primary: rgb(154, 152, 152);
--bgDark: rgb(12, 12, 12);
--white: white;
--bgLight: rgb(190, 181, 181);
}
.flex{
    display: flex;
    }
    .items-centre{
    align-items: center;
    }
    .justify-between{
    justify-content: space-between;
    }
    .justify-center{
    justify-content: center;
    }
    .justify-right{
    justify-content: right;
    }
    