*{
    padding: 0;
    margin: 15px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    }
    header{
    background-color: var(--primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
    }
    header nav .left a{
    color: var(--white);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .2s ease;
    }
    header nav .left a:hover{
    color: var(--bgDark);
    }
    header nav {
    padding: 2rem 0;
    }
    header nav .logo{
    margin-right: 3rem;
    }

    body{
        font-family: serif;
        }
        .container{
        max-width: 1152px;
        padding: 0 15px;
        margin: 0 auto;
        }
        .hero{
        padding-top: 2rem;
        padding-bottom: 3rem;
        }
        .hero .left img{
        width: 400px;
        }
        .hero .right {
        color: var(--blue);
        margin-top: -7rem;
        }
        .hero .right h6{
        font-size: 1.6rem;
        color: var(--primary);
        margin-bottom: 0.5rem;
        }
        .hero .right h1{
        font-size: 2rem;
        font-weight: 100;
        line-height: 1;
        margin-bottom: 2rem;
        }
        .hero .right h1 {
        color: var(--primary);
        }
        .hero .right p{
        line-height: 1.9;
        margin-bottom: 2rem;
        }

        section.services{
            background: white;
        }
            .services-head{
            color: white;
            text-align: center;
            margin-bottom: 1rem;
            line-height: 0.5rem;
            color: var(--primary);
            }
            .services-head + p{
            color: var(--white);
            font-family: serif;
            margin-bottom: 1rem;
            text-align: center;
            margin-bottom: 6rem;
            font-weight: 400;
            }

            section.services .card-grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 2rem;
            }
            section.services .card-grid .card{
            background: var(--primary);
            border-radius: 10px;
            padding: 3rem 2rem;
            position: relative;
            text-align: center;
            transition: all .2s ease;
            }
            section.services .card-grid .card img{
            position: absolute;
            top: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
            color: var(--white);
            }
            section.services .card-grid .card h2{
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            }
            section.services .card-grid .card p{
            font-family: serif;
            color: var(--white);
            line-height: 1.6;
            }
            section.container {
                font-family: serif;
            }
    
input[type=text], select, textarea {
    font-family: serif;
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: var(--primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--bgDark);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 

     
